@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol,li,a{
    margin: 0;
    padding: 0;
}
@media (min-width: 1400px){
.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
}
body{
    background: #f5f5f5;
}
/* ----------------Header---------------------- */
.main-nav {
    border-bottom: 1px solid #d3d3d3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fbfbfb;
    z-index: 20;
}
.component-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 12px;
}
.header-category {
    display: flex;
    gap: 20px;
    color: #767676;

    & p{

        & a{
            text-decoration: none;
            color: #767676;
            padding: 10px;

            &.active{
                background-color: black;
                color: White;
                font-size: 18px;
                border-radius: 3px;
            }
        }
    }
}


.cart-country-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    i {
        font-size: 24px;
        cursor: pointer;
    }

    .country-detail{
        width: 20px;
        height: 20px;
        border-radius: 50%;

        & .flg{
            width: 100%;
            height: 100%;

            img{
                width: 100%;
            height: 100%;
            }
        }
    }

}
.wishlist-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
nav.navbar.navbar-expand-lg {
    background: transparent !important;
    padding: 0;

    button{
            border: none;
            box-shadow: none;
    }
    ul{
        flex-wrap: wrap;

        li{
            padding-bottom: 0px;
            padding-top: 10px;
        
        & a{
            padding-bottom: 12px;
            border-bottom: 3px solid transparent;
            
            transition: all 0.4s ease;

            &:hover{
                border-color:  black;
                color: black;
            }
        }
        
        }
        
        li:not(:last-child){
            margin-right: 15px;
        }
        
    }
    
    .search{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: rgba(232, 232, 232, 0.811);
        padding: 4px;
        border-radius: 50px;

        i{
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }

        input{
            border:none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            width: 100%;
            padding-left: 30px;
        }
    }

}
section#head-2 {
    padding-top: 120px;
}
.head-2-inner{
        padding-block: 5px;

    & .breadcrumb-trail{

        & ul{
            display: flex;

            li{
                list-style: none;
                transition: all 0.4s ease;
                padding-block: 10px;

                a{
                    text-decoration: none;
                    padding-right: 10px;
                    color: #767676;
                    border-right: 1px solid #767676;
                    margin-right: 10px;
                    transition: all 0.4s ease;

                    &:hover{
                        text-decoration: underline;
                    }
                    
                }

            &:nth-last-child(1) a{

                margin-right: 0px;
                border-right: none;
            }
            }
        }
    }
}
.trail-detsil{

    h2{
        font-size: 3rem;
        text-align: center;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400;
        margin-block: 15px;
    }
}
.filters-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding-block: 10px;
    background-color: #f5f5f5;


    & .filters-inner{
        display: flex;
        gap: 20px;
        align-items: center;
    }
}
section#filters {
    position: sticky;
    top: 123px;
    z-index: 30;
}
.filter,
.switch-case,
.price-detail,
.size-detail,
.discount,
.brands,
.delivery,
.recomendation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: all 1s ease;
    background-color: #eaeaeabb;

    
    i{
        transition: all 1s ease;
        
    }
    &:hover i{
        transform: rotate(540deg);

    }
    &:hover{
        border-color: black;
        background-color: #ececec;
    }
    span{
        padding-right: 5px;
    }
}
.filter span,.recomendation span{
    
        padding-left: 5px;
        padding-right: 0;
    
}
.product-detail-wrapper-inner {
    padding-block: 50px;
}
.product-img {
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 5px;
}
.whish-list {
    position: absolute;
    z-index: 4;
    right: 18px;
    top: 18px;
    cursor: pointer;

    & svg{
        stroke: white;
        stroke-width: 1px;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: rgba(0, 0, 0, 0.251);
        transform: scale(1);
        transition: all 0.4s;

        :active{
            fill: red;
            transform: scale(0.8);
        }
    }
}
.product-img::before {
    content: "38%";
    position: absolute;
    top: 0px;
    left: 0px;
    background: red;
    width: 15%;
    height: 22px;
    z-index: 4;
    border: 1px solid yellow;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 3px;
}
.product-img figure{
    
        height: 80%;
        padding-top: 140%;
        overflow: hidden;
        position: relative;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        
}
.quick-add {
    position: absolute;
    z-index: 555;
    width: calc(100% - 20px);
    background: #e1e1e182;
    bottom: -40px;
    margin-inline: 10px;
    text-align: center;
    padding: 7px 0;
    border-radius: 6px;
    transition: all 0.5s ease;
    cursor: pointer;
    user-select: none;
}
.quick-add:hover{
    background: #efefef;
}
.product-img:hover .quick-add{
    bottom: 15px;
}
.price-sec .price span:nth-last-child(1) {
    text-decoration: line-through;
    font-size: 14px;
    color: #818181;
}
.price-sec .price span:nth-child(1) {
    font-size: 18px;
    color: red;
    margin-right: 10px;
    font-weight: 600;
}
.price-sec {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}
.product-wrapper {
    margin-bottom: 31px;
}
.product-name a {
    text-decoration: none;
    text-align: center;
}
.product-name-inner {
    display: flex;
    align-items: center;
    
    margin-bottom: 10px;
}
.product-name-inner h5 {
    font-size: 16px;
    color: black;
    margin-right: 10px;
}
.product-name-inner span {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-inline: 5px;
    background-color: #767676;
}

.product-name-inner h3 {
    font-size: 16px;
    color: #818181;
}
.express-delivery span {
    background: #005aff;
    color: yellow;
    padding: 2px 15px;
    border-radius: 50px 10px;
}
.search-icon {
    cursor: pointer;
}
/* -------------prodct detail page =------------------- */
.product-detail-page-wrapper {
    padding-top: 170px;
}
.product-page-image .product-img::before{
    display: none;
}
.product-page-image .product-img{
    margin-bottom: 20px;
}
.find-similar{
    position: absolute;

}
.find-similar {
    position: absolute;
    z-index: 120;
    max-width: 40px;
    padding: 7px;
    bottom: 8px;
    background: #fff7f7;
    left: 17px;
    border-radius: 50px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease;
}
.find-similar a {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-decoration: none;
    color: black;
}
.find-similar a svg{
    margin-right: 10px;
}
.product-page-image .product-img:hover .find-similar{
    opacity: 1;
}
.find-similar:hover{
    max-width: 130px;
}
.product-page-image-mobile{
    display: none;
}





/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) { 
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1199px) {

}
/* // Large devices (desktops, 992px and up) */

@media (max-width: 1024px) {

}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 991px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
    .product-page-image{
        display: none;
    }
    .product-page-image-mobile{
        display: block;
    }
}

@media (max-width: 575px) {

}






